Repository turchenkoalex/kotlet: changes, and which Codecov flags are due for each by the changed paths.
All: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

codecov.yml:

coverage:
  status:
    project: #add everything under here, more options at https://docs.codecov.com/docs/commit-status
      default:
        # basic
        target: auto #default
        threshold: 0%
        base: auto

comment: # this is a top-level key
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false       # if true: only post the comment if coverage changes
  require_base: false          # [true :: must have a base report to post]
  require_head: true           # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: core
      name: core
      paths:
        - core/**
    - component_id: cors
      name: cors
      paths:
        - cors/**
    - component_id: jetty
      name: jetty
      paths:
        - jetty/**
    - component_id: json
      name: json
      paths:
        - json/**
    - component_id: jwt
      name: jwt
      paths:
        - jwt/**
    - component_id: metrics
      name: metrics
      paths:
        - metrics/**
    - component_id: openapi
      name: openapi
      paths:
        - openapi/**
    - component_id: swagger_ui
      name: swagger-ui
      paths:
        - swagger-ui/**
    - component_id: tracing
      name: tracing
      paths:
        - tracing/**
    - component_id: typesafe
      name: typesafe
      paths:
        - typesafe/**

update benchmarks
  .internal-benchmarks.json
Due: none

Update README dependencies to new version
  README.md
  cors/README.md
  jetty/README.md
  json/README.md
  jwt/README.md
  metrics/README.md
  openapi/README.md
  swagger-ui/README.md
  tracing/README.md
  typesafe/README.md
Due: cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Update Gradle wrapper to 9.2.1 and configure Kotlin JVM toolchain to version 21
  core/build.gradle.kts
  cors/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  jetty/build.gradle.kts
  json/build.gradle.kts
  jwt/build.gradle.kts
  metrics/build.gradle.kts
  mocks/build.gradle.kts
  openapi/build.gradle.kts
  samples/build.gradle.kts
  samples/src/main/kotlin/samples/HelloWorldSample.kt
  swagger-ui/build.gradle.kts
  tracing/build.gradle.kts
  typesafe/build.gradle.kts
Due: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Update .gitignore to include Copilot files and ensure proper formatting
  .gitignore
Due: none

Refactor routing API to use RouteContext instead of RouteOptions for cleaner configuration
  core/src/main/kotlin/kotlet/RouteContext.kt
  core/src/main/kotlin/kotlet/RouteHandler.kt
  core/src/main/kotlin/kotlet/RouteOptions.kt
  core/src/main/kotlin/kotlet/Routing.kt
  core/src/test/kotlin/kotlet/AttributesRoutingUnitTest.kt
  core/src/test/kotlin/kotlet/RoutesMatcherUnitTest.kt
  openapi/README.md
Due: core, openapi

Refactor OpenAPI configuration to use RouteContext and enhance DSL for operation description
  openapi/src/main/kotlin/kotlet/openapi/DSL.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPI.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIConfig.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIOperation.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
  samples/src/main/kotlin/samples/OpenApiSample.kt
Due: openapi

Refactor OpenAPI model builder to improve operation handling and enhance unit tests
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIModelBuilder.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
Due: openapi

Refactor OpenAPI installation to improve endpoint configuration and enhance lazy loading of JSON responses
  openapi/README.md
  openapi/src/main/kotlin/kotlet/openapi/OpenAPI.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIConfig.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
  samples/src/main/kotlin/samples/OpenApiSample.kt
Due: openapi

Refactor DSL to remove unused import and streamline OpenAPI operation description
  openapi/src/main/kotlin/kotlet/openapi/DSL.kt
Due: openapi

Refactor OpenAPI DSL by renaming files and enhancing response handling with new content type support
  openapi/README.md
  openapi/src/main/kotlin/kotlet/openapi/DSL.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIConfig.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIModelBuilder.kt
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIOperation.kt
  openapi/src/main/kotlin/kotlet/openapi/RouteContext.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/ContentType.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Info.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Parameters.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Requests.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Responses.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Tags.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
  samples/src/main/kotlin/samples/OpenApiSample.kt
  versions.properties
Due: openapi

Refactor RouteContext to rename parameter for clarity and improve code readability
  core/src/main/kotlin/kotlet/RouteContext.kt
Due: core

Fix doc
  openapi/src/main/kotlin/kotlet/openapi/dsl/Responses.kt
Due: openapi

Fix doc
  openapi/README.md
Due: openapi

Remove tags extension
  openapi/src/main/kotlin/kotlet/openapi/dsl/Tags.kt
Due: openapi

Enhance OpenAPI sample by adding path parameter support and improving post response handling
  samples/src/main/kotlin/samples/OpenApiSample.kt
Due: none

Add path parameter support for comments in OpenAPI specification
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
Due: openapi

Rename installSwaggerUIEndpoint to serveSwaggerUI for clarity and update documentation accordingly
  samples/src/main/kotlin/samples/OpenApiSample.kt
  swagger-ui/README.md
  swagger-ui/src/main/kotlin/kotlet/swagger/ui/SwaggerUI.kt
  swagger-ui/src/test/kotlin/kotlet/swagger/ui/SwaggerUIUnitTest.kt
Due: swagger-ui

Update swagger to 5.30.3
  swagger-ui/src/main/resources/ui/oauth2-redirect.html
  swagger-ui/src/main/resources/ui/oauth2-redirect.js
  swagger-ui/src/main/resources/ui/swagger-ui-bundle.js
  swagger-ui/src/main/resources/ui/swagger-ui-bundle.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle-core.js
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle-core.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle.js
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-standalone-preset.js
  swagger-ui/src/main/resources/ui/swagger-ui-standalone-preset.js.map
  swagger-ui/src/main/resources/ui/swagger-ui.css
  swagger-ui/src/main/resources/ui/swagger-ui.css.map
  swagger-ui/src/main/resources/ui/swagger-ui.js
  swagger-ui/src/main/resources/ui/swagger-ui.js.map
Due: swagger-ui

Make primary constructor accessible and add documentation for path and query parameter handling
  typesafe/src/main/kotlin/kotlet/DataClassHelpers.kt
  typesafe/src/main/kotlin/kotlet/HttpCallTypeSafe.kt
Due: typesafe

Add OpenApiDescription annotation for enhanced schema documentation and rename parameters function
  openapi/src/main/kotlin/kotlet/openapi/Annotations.kt
  openapi/src/main/kotlin/kotlet/openapi/SchemaGenerator.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Parameters.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
  samples/src/main/kotlin/samples/OpenApiSample.kt
Due: openapi
