Repository turchenkoalex/kotlet: changes, and which Codecov flags are due for each by the changed paths.
All: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

codecov.yml:

coverage:
  status:
    project: #add everything under here, more options at https://docs.codecov.com/docs/commit-status
      default:
        # basic
        target: auto #default
        threshold: 0%
        base: auto

comment: # this is a top-level key
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false       # if true: only post the comment if coverage changes
  require_base: false          # [true :: must have a base report to post]
  require_head: true           # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: core
      name: core
      paths:
        - core/**
    - component_id: cors
      name: cors
      paths:
        - cors/**
    - component_id: jetty
      name: jetty
      paths:
        - jetty/**
    - component_id: json
      name: json
      paths:
        - json/**
    - component_id: jwt
      name: jwt
      paths:
        - jwt/**
    - component_id: metrics
      name: metrics
      paths:
        - metrics/**
    - component_id: openapi
      name: openapi
      paths:
        - openapi/**
    - component_id: swagger_ui
      name: swagger-ui
      paths:
        - swagger-ui/**
    - component_id: tracing
      name: tracing
      paths:
        - tracing/**
    - component_id: typesafe
      name: typesafe
      paths:
        - typesafe/**

update benchmarks
  .internal-benchmarks.json
Due: none

Refactor CORS header handling to use setHeader method for consistency
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: cors

Update README dependencies to new version
  README.md
  cors/README.md
  jetty/README.md
  json/README.md
  jwt/README.md
  metrics/README.md
  openapi/README.md
  swagger-ui/README.md
  tracing/README.md
  typesafe/README.md
Due: cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Refactor CORS interceptor to handle preflight requests and set Allow-Origin header
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: cors

Refactor CORS error handling to use respondError method for improved clarity
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: cors

Update Kotlin version to 2.2.20 and improve path normalization logic
  .idea/kotlinc.xml
  core/src/main/kotlin/kotlet/Routing.kt
  core/src/test/kotlin/kotlet/RoutesMatcherUnitTest.kt
Due: core

Add unit test for root route matching in RoutesMatcherUnitTest
  core/src/test/kotlin/kotlet/RoutesMatcherUnitTest.kt
Due: core

Update Kotlin version to 2.2.21 and Gradle wrapper to 9.2.0
  .idea/kotlinc.xml
  gradle/wrapper/gradle-wrapper.properties
Due: none
