Repository turchenkoalex/kotlet: changes, and which Codecov flags are due for each by the changed paths.
All: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Add OpenApiDescription annotation to HelloResponse for improved documentation
  openapi/README.md
Due: openapi

Rename Annotations.kt to OpenApiDescription.kt for clarity and consistency
  openapi/src/main/kotlin/kotlet/openapi/OpenApiDescription.kt
Due: openapi

Refactor pathParameters function to use getOpenApiDescription for improved parameter documentation
  openapi/src/main/kotlin/kotlet/openapi/dsl/Parameters.kt
Due: openapi

Update swagger to 5.30.3
  swagger-ui/src/main/resources/ui/oauth2-redirect.html
  swagger-ui/src/main/resources/ui/oauth2-redirect.js
  swagger-ui/src/main/resources/ui/swagger-ui-bundle.js
  swagger-ui/src/main/resources/ui/swagger-ui-bundle.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle-core.js
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle-core.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle.js
  swagger-ui/src/main/resources/ui/swagger-ui-es-bundle.js.map
  swagger-ui/src/main/resources/ui/swagger-ui-standalone-preset.js
  swagger-ui/src/main/resources/ui/swagger-ui-standalone-preset.js.map
  swagger-ui/src/main/resources/ui/swagger-ui.css
  swagger-ui/src/main/resources/ui/swagger-ui.css.map
  swagger-ui/src/main/resources/ui/swagger-ui.js
  swagger-ui/src/main/resources/ui/swagger-ui.js.map
Due: swagger-ui

Add OpenApiDescription annotation for enhanced schema documentation and rename parameters function
  openapi/src/main/kotlin/kotlet/openapi/Annotations.kt
  openapi/src/main/kotlin/kotlet/openapi/SchemaGenerator.kt
  openapi/src/main/kotlin/kotlet/openapi/dsl/Parameters.kt
  openapi/src/test/kotlin/kotlet/openapi/OpenAPIUnitTest.kt
  samples/src/main/kotlin/samples/OpenApiSample.kt
Due: openapi

Rename installSwaggerUIEndpoint to serveSwaggerUI for clarity and update documentation accordingly
  samples/src/main/kotlin/samples/OpenApiSample.kt
  swagger-ui/README.md
  swagger-ui/src/main/kotlin/kotlet/swagger/ui/SwaggerUI.kt
  swagger-ui/src/test/kotlin/kotlet/swagger/ui/SwaggerUIUnitTest.kt
Due: swagger-ui

Make primary constructor accessible and add documentation for path and query parameter handling
  typesafe/src/main/kotlin/kotlet/DataClassHelpers.kt
  typesafe/src/main/kotlin/kotlet/HttpCallTypeSafe.kt
Due: typesafe

Update README dependencies to new version
  README.md
  cors/README.md
  jetty/README.md
  json/README.md
  jwt/README.md
  metrics/README.md
  openapi/README.md
  swagger-ui/README.md
  tracing/README.md
  typesafe/README.md
Due: cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

update benchmarks
  .internal-benchmarks.json
Due: none

Add Jetty compression support with Gzip
  gradle/libs.versions.toml
  jetty/build.gradle.kts
  jetty/src/main/kotlin/kotlet/jetty/JettyBuilder.kt
Due: jetty

Update gradle to 9.3
  gradle/wrapper/gradle-wrapper.properties
Due: none

Enhance describe function to return RouteContext for improved chaining
  openapi/src/main/kotlin/kotlet/openapi/RouteContext.kt
Due: openapi

Add client module with initial Gradle setup and Kotlin configuration
  .idea/gradle.xml
  .idea/kotlinc.xml
  client/build.gradle.kts
  settings.gradle.kts
Due: none

Refactor routing syntax to remove unnecessary lambda parentheses for cleaner code
  samples/src/main/kotlin/samples/HelloWorldSample.kt
  samples/src/main/kotlin/samples/InterceptorSample.kt
  samples/src/main/kotlin/samples/JsonSample.kt
Due: none

Add HTTP client implementation with GZIP support and request handling
  client/src/main/kotlin/kotlet/client/Client.kt
  client/src/main/kotlin/kotlet/client/ClientOptions.kt
  client/src/main/kotlin/kotlet/client/ClientSerializer.kt
  client/src/main/kotlin/kotlet/client/KotlinxClientSerializer.kt
  client/src/main/kotlin/kotlet/client/Request.kt
  client/src/main/kotlin/kotlet/client/Response.kt
  samples/build.gradle.kts
  samples/src/main/kotlin/jetty/JettyServer.kt
  samples/src/main/kotlin/samples/ClientSample.kt
Due: none

Path conditions:
  core: any of: core/**
  cors: any of: cors/**
  jetty: any of: jetty/**
  json: any of: json/**
  jwt: any of: jwt/**
  metrics: any of: metrics/**
  openapi: any of: openapi/**
  swagger-ui: any of: swagger-ui/**
  tracing: any of: tracing/**
  typesafe: any of: typesafe/**
