Repository turchenkoalex/kotlet: changes, and which Codecov flags are due for each by the changed paths.
All: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

codecov.yml:

coverage:
  status:
    project: #add everything under here, more options at https://docs.codecov.com/docs/commit-status
      default:
        # basic
        target: auto #default
        threshold: 0%
        base: auto

comment: # this is a top-level key
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false       # if true: only post the comment if coverage changes
  require_base: false          # [true :: must have a base report to post]
  require_head: true           # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: core
      name: core
      paths:
        - core/**
    - component_id: cors
      name: cors
      paths:
        - cors/**
    - component_id: jetty
      name: jetty
      paths:
        - jetty/**
    - component_id: json
      name: json
      paths:
        - json/**
    - component_id: jwt
      name: jwt
      paths:
        - jwt/**
    - component_id: metrics
      name: metrics
      paths:
        - metrics/**
    - component_id: openapi
      name: openapi
      paths:
        - openapi/**
    - component_id: swagger_ui
      name: swagger-ui
      paths:
        - swagger-ui/**
    - component_id: tracing
      name: tracing
      paths:
        - tracing/**
    - component_id: typesafe
      name: typesafe
      paths:
        - typesafe/**

Autoformat
  core/src/main/kotlin/kotlet/Interceptor.kt
  core/src/main/kotlin/kotlet/Route.kt
  core/src/main/kotlin/kotlet/RouteOptions.kt
  core/src/main/kotlin/kotlet/attributes/RouteAttribute.kt
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  metrics/src/test/kotlin/kotlet/prometheus/PrometheusMetricsCollectorUnitTest.kt
  mocks/src/main/kotlin/kotlet/mocks/http/ByteArrayServletOutputStream.kt
  mocks/src/main/kotlin/kotlet/mocks/http/MockHttpCall.kt
  openapi/README.md
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIOperation.kt
  openapi/src/main/kotlin/kotlet/openapi/SchemaGenerator.kt
Due: core, cors, metrics, openapi

Autoformat (#160)
  core/src/main/kotlin/kotlet/Interceptor.kt
  core/src/main/kotlin/kotlet/Route.kt
  core/src/main/kotlin/kotlet/RouteOptions.kt
  core/src/main/kotlin/kotlet/attributes/RouteAttribute.kt
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  metrics/src/test/kotlin/kotlet/prometheus/PrometheusMetricsCollectorUnitTest.kt
  mocks/src/main/kotlin/kotlet/mocks/http/ByteArrayServletOutputStream.kt
  mocks/src/main/kotlin/kotlet/mocks/http/MockHttpCall.kt
  openapi/README.md
  openapi/src/main/kotlin/kotlet/openapi/OpenAPIOperation.kt
  openapi/src/main/kotlin/kotlet/openapi/SchemaGenerator.kt
Due: core, cors, metrics, openapi

Update README dependencies to new version
  README.md
  cors/README.md
  jetty/README.md
  json/README.md
  jwt/README.md
  metrics/README.md
  openapi/README.md
  swagger-ui/README.md
  tracing/README.md
  typesafe/README.md
Due: cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

update benchmarks
  .internal-benchmarks.json
Due: none

Add max-age support to CORS configuration
  .idea/kotlinc.xml
  cors/src/main/kotlin/kotlet/cors/CORS.kt
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  cors/src/main/kotlin/kotlet/cors/CorsResponse.kt
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
Due: cors

Refactor comments in CorsResponse.kt for improved readability
  cors/src/main/kotlin/kotlet/cors/CorsResponse.kt
Due: cors

Simplify max-age condition in CorsResponse.kt
  cors/src/main/kotlin/kotlet/cors/CorsResponse.kt
Due: cors

Update CORSUnitTest to set Access-Control-Allow-Headers
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
Due: cors

Add max-age support to CORS configuration (#192)
  .idea/kotlinc.xml
  cors/src/main/kotlin/kotlet/cors/CORS.kt
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
  cors/src/main/kotlin/kotlet/cors/CorsResponse.kt
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
Due: cors

Refactor test dependencies to use a testing bundle
  core/build.gradle.kts
  cors/build.gradle.kts
  gradle/libs.versions.toml
  json/build.gradle.kts
  jwt/build.gradle.kts
  metrics/build.gradle.kts
  openapi/build.gradle.kts
  swagger-ui/build.gradle.kts
  tracing/build.gradle.kts
  typesafe/build.gradle.kts
Due: core, cors, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Implement CORS integration and enhance method not found handling
  core/src/main/kotlin/kotlet/RoutingHandler.kt
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: core, cors

Fix CORS headers to improve method not found handling
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: cors

Refactor CORS utility constants and improve header setting in CorsInterceptor
  cors/src/main/kotlin/kotlet/cors/CORS.kt
  cors/src/main/kotlin/kotlet/cors/CorsInterceptor.kt
Due: cors

Refactor CORS header setting to use addHeader method in CorsIntegration and CORSUnitTest
  cors/src/test/kotlin/kotlet/cors/CORSUnitTest.kt
  cors/src/test/kotlin/kotlet/cors/CorsIntegration.kt
Due: cors

Simplify CORS rules by directly using allowOrigin for all origins
  cors/src/main/kotlin/kotlet/cors/CORS.kt
Due: cors
