Repository turchenkoalex/kotlet: changes, and which Codecov flags are due for each by the changed paths.
All: core, cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

update benchmarks
  .internal-benchmarks.json
Due: none

Enhance HTTP client options with User-Agent and additional headers support
  client/src/main/kotlin/kotlet/client/Client.kt
  client/src/main/kotlin/kotlet/client/ClientOptions.kt
  jetty/src/main/kotlin/kotlet/jetty/JettyBuilder.kt
  samples/src/main/kotlin/samples/ClientSample.kt
Due: jetty

Add initial implementation of Kotlet Client with features and usage documentation
  README.md
  build.gradle.kts
  client/README.md
Due: none

Remove unused import from ClientOptions.kt for cleaner code
  client/src/main/kotlin/kotlet/client/ClientOptions.kt
Due: none

Add tests for HTTP GET requests with ByteArray and String responses in ClientTest
  client/src/main/kotlin/kotlet/client/KotlinxClientSerializer.kt
  client/src/test/kotlin/kotlet/client/ClientTest.kt
Due: none

Add client component configuration to codecov.yml
  codecov.yml
Due: none

Update README dependencies to new version
  README.md
  cors/README.md
  jetty/README.md
  json/README.md
  jwt/README.md
  metrics/README.md
  openapi/README.md
  swagger-ui/README.md
  tracing/README.md
  typesafe/README.md
Due: cors, jetty, json, jwt, metrics, openapi, swagger-ui, tracing, typesafe

Update error handling and request body size limits; add performance and security guides
  README.md
  core/src/main/kotlin/kotlet/ErrorsHandler.kt
  core/src/main/kotlin/kotlet/HttpCall.kt
  core/src/main/kotlin/kotlet/HttpCallExtensions.kt
  core/src/main/kotlin/kotlet/RoutingHandler.kt
  core/src/test/kotlin/kotlet/HttpCallExtensionsTest.kt
  docs/ERROR-HANDLING.md
  docs/PERFORMANCE.md
  docs/SECURITY.md
  jwt/src/main/kotlin/kotlet/jwt/JWTAuthenticationInterceptor.kt
Due: core, jwt

Enhance response handling in Client and add tests for various HTTP status codes
  client/src/main/kotlin/kotlet/client/Client.kt
  client/src/main/kotlin/kotlet/client/DeserializationException.kt
  client/src/main/kotlin/kotlet/client/KotlinxClientSerializer.kt
  client/src/test/kotlin/kotlet/client/ClientTest.kt
Due: none

Refactor header handling in Client to improve content type management
  client/src/main/kotlin/kotlet/client/Client.kt
  client/src/main/kotlin/kotlet/client/ClientSerializer.kt
  client/src/main/kotlin/kotlet/client/KotlinxClientSerializer.kt
Due: none

Fix Content-Type header handling and add tests for header behavior in Client
  client/src/main/kotlin/kotlet/client/Client.kt
  client/src/test/kotlin/kotlet/client/HeaderTest.kt
Due: none

Path conditions:
  core: any of: core/**
  cors: any of: cors/**
  jetty: any of: jetty/**
  json: any of: json/**
  jwt: any of: jwt/**
  metrics: any of: metrics/**
  openapi: any of: openapi/**
  swagger-ui: any of: swagger-ui/**
  tracing: any of: tracing/**
  typesafe: any of: typesafe/**
